.one{
    background-color: brown;
}
.two{
    background-color: rgb(54, 139, 218);
}
.three{
    background-color: rgb(42, 165, 114);
}
.four{
    background-color: rgb(223, 46, 184);
}
.five{
    background-color: rgb(230, 218, 56);
}
